<% if flash[:alert] %>
  <div class='alert'>
    <a class='close' data-dismiss="alert" href="#">
      &times;
    </a>
    <%= flash[:alert]%>
  </div>
<% end %>
<div class='login-box'>
  <div class='top'>
    <h1>
      <%= 'sign_in'%>
    </h1>
  </div>
  <%= form_for(@resource, :url => signin_path) do |f| %>
    <fieldset>
      <div class='control-groups'>
        <div class='controls'>
          <div class='input-append'>
            <%=f.text_field :login, :required => true, :autofocus => true%>
            <span class='add-on'>
              <i class='icon-user'>
            </span>
          </div>
        </div>
      </div>
      <div class='control-groups'>
        <div class='controls'>
          <div class='input-append'>
            <%=f.password_field :password, :required => true, :autofocus => true%>
            <span class='add-on'>
              <i class='icon-lock'>
            </span>
          </div>
        </div>
      </div>
      <div class='control-groups actions'>
        <div class='controls'>
          <%=f.button 'sign_in', :class => 'btn-primary btn'%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>